@import "@/assets/scss/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* COMMON */
body {
  color: $text-primary;
}

.container-md {
  border-left: 1px solid black;
  border-right: 1px solid black;

  // height: 1000px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* UTILITY */

.d-flex {
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.j-content-center {
  justify-content: center;
}

.j-space-a {
  justify-content: space-around;
}

.j-space-b {
  justify-content: space-between;
}

.j-space-e {
  justify-content: space-evenly;
}

.al-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.container-md {
  width: 1200px;
}
.container-lg {
  width: 100%;
}

.m-auto {
  margin: auto;
}

.col-50 {
  width: 50%;
}

.col-47{
  width: 47%;
}

.col-40 {
  width: 40%;
}

.col-80 {
  width: 80%;
}

.col-30{
  width: 31.5%;
}

.col-25 {
  width: 25%;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.btn {
  color: white;
  background-color: $btn;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.33rem;
  font-weight: 600;
}
