@import "@/assets/scss/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

/* COMMON */
body{
    background-color: $bg-header;
}

.container-md{
    border: 1px solid black;
    height: 1000px;
}
li{
    list-style: none;
}



/* UTILITY */

.d-flex{
    display: flex;
}

.j-content-center{
    justify-content: center;
}

.j-space-a{
    justify-content: space-around;
}

.j-space-b{
    justify-content: space-between;
}

.j-space-e{
    justify-content: space-evenly;
}

.al-center{
    align-items: center;
}

.container-md{
    width: 1000px;
}
.container-lg{
    width: 100%;
}

.m-auto{
    margin: auto;
}

.col-50{
    width: 50%;
}

